<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="common :: header"></div>
    <title>Admin Dashboard</title>
  </head>

  <body style="margin-top: 100px">
    <input type="hidden" name="name" id="name" th:value="${user.name}" />
    <input
      type="hidden"
      name="phoneNumber"
      id="phoneNumber"
      th:value="${user.phoneNumber}"
    />
    <input type="hidden" name="password" th:value="${user.password}" />
    <input type="hidden" name="member" th:value="${user.getMember()}" />

    <div>
      <h2 style="margin-left: 128px">Admin Dashboard</h2>
      <div class="container text-center centered" style="width: 34rem">
        <a
          style="font-size: 24px"
          th:href="@{/adminStaffTable/{id}(id=${user._id})}"
          >Manage Staff</a
        ><br />
        <a style="font-size: 24px">Admin Role 1</a><br />
        <a style="font-size: 24px">Admin Role 2</a>
      </div>
    </div>

    <div th:replace="common :: footer"></div>
  </body>
</html>
