<html>
    <body>

        <div th:fragment="header">
            <!-- Required meta tags -->
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />

            <!-- Bootstrap CSS -->
            <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
            />
        </div>

        <div th:fragment="card">
            <div class='card mb-5 bg-body rounded' th:each="member:${user.member}">
                <div class='card-body'>
                    <div>
                        <h2 style='color: blue' th:text="${member.name}" id='member_name'></h2>
                        <h6 style='color: blue' th:if="${member.vaccinationStatus} eq 'None'">Not Vaccinated</h6>
                        <h6 style='color: blue' th:if="${member.vaccinationStatus} eq 'Partial'">Partially Vaccinated</h6>
                        <h6 style='color: blue' th:if="${member.vaccinationStatus} eq 'Full'">Fully Vaccinated</h6>
                    </div>
                    <div class='container'>
                        <div class='row'>
                            <div class='col'>
                                <h5 style='color:black; text-align: left;'>Year of Birth: <span th:text="${#dates.year(member.dob)}" id='member_dob'></span></h5>
                            </div>
                            <div class='col'>
                                <h5 style='color:black; text-align: center;'>Adhaar Number: XXXX-<span th:text="${#strings.substring(member.adhaar,10,14)}" id='member_adhaar'></span></h5>
                            </div>
                            <div class='col'>
                                <h5 style='color:black; text-align: right;'>Gender: <span th:text="${member.gender}" id='member_gender'></span></h5>
                            </div>
                            <br/>
                            <br/>
                            <hr/>
                            <br/>

                            <div th:if="${member.vaccinationStatus} == 'None'">
                                <span style="color: red; font-weight: bold;">Dose 1 | No details available</span> <br/> 
                                <hr/>
                                <span style="color: red; font-weight: bold;">Dose 2 | No details available</span>
                            </div>

                            <div th:if="${member.vaccinationStatus} == 'Partial'">
                                <div th:each="vax:${member.vaccine}">
                                    <span style="color: greenyellow; font-weight: bold;">Dose 1</span> | <span th:text="${vax.vaccinationType}"></span> <br/> 
                                    <span>Vaccinated By - </span><span th:text="${vax.vaccinationBy}"></span> <br/>
                                    <span>Vaccinated On - </span><span th:text="${#dates.format((vax.vaccinationDate), 'dd-MM-yyyy')}"></span> <br/>
                                    <span>Vaccination Centre - </span><span th:text="${vax.vaccinationCentre}"></span>
                                    <hr/>
                                    <span style="color: red; font-weight: bold;">Dose 2 <br/>Due 3 months from <span th:text="${#dates.format((vax.vaccinationDate), 'dd-MM-yyyy')}"></span></span>
                                </div>
                            </div>

                            <div th:if="${member.vaccinationStatus} == 'Full'">
                                <div th:each="vax, iterStat:${member.vaccine}">
                                    <span style="color: greenyellow; font-weight: bold;">Dose <span th:text="${iterStat.index}+1"></span> </span> | <span th:text="${vax.vaccinationType}"></span> <br/> 
                                    <span>Vaccinated By - </span><span th:text="${vax.vaccinationBy}"></span> <br/>
                                    <span>Vaccinated On - </span><span th:text="${#dates.format((vax.vaccinationDate), 'dd-MM-yyyy')}"></span> <br/>
                                    <span>Vaccination Centre - </span><span th:text="${vax.vaccinationCentre}"></span>
                                    <hr/> 
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="footer">
            <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
            ></script>
          
            <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
            ></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" 
            integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer"
            ></script>
        </div>

    </body>
</html>>