<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="common :: header"></div>
    <title>Home</title>
  </head>

  <body>
    <!-- Card View of Data -->
    <div id="form_card" class="container mt-5">
      <div class="card shadow p-1 mb-5 bg-body rounded">
        <div class="card-body">
          <h2 style="color: blue">Account Details</h2>
          <br />
          <h5>
            Registered Mobile Number:
            <span th:text="${user.phoneNumber}"></span>
          </h5>
          <div>
            <h5>
              Number of Members:
              <span th:if="${user.member.size() > 0}"><span th:text="${user.member.size()}"></span></span>
              <span th:unless="${user.member.size() > 0}">Member Number</span>
            </h5>
          </div>
          <br />
          <div th:replace="common :: card"></div>
          <!-- <p id="display_card"></p> -->
          <!-- <div class="card mb-5 bg-body rounded">
            <div class="card-body">
              <div>
                <h2 style="color: blue" th:text="${member.name}" id="member_name"></h2>
                &emsp;
                <span>Not Vaccinated</span>
              </div>
              <br />
              <div class="container">
                <div class="row">
                  <div class="column">
                    <h5 style="color: grey">
                      Date of Birth: <span th:text="${member.dob}" id="member_dob"></span>
                    </h5>
                  </div>
                  <div class="column">
                    <h5 style="color: grey">
                      Adhaar Number: <span th:text="${member.adhaar}" id="member_adhaar"></span>
                    </h5>
                  </div>
                  <div class="column">
                    <h5 style="color: grey">
                      Gender: <span th:text="${member.gender}" id="member_gender"></span>
                    </h5>
                  </div>
                  <br />
                  <hr />
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- Add Member Button -->
    <div class="container mt-5">
      <div th:if="${user.getMember().size() != 4}">
        <form method="POST">
          <div class="container text-center">
            <input
              type="hidden"
              name="phoneNumber"
              id="phoneNumber"
              th:value="${user.phoneNumber}"
            />
            <input type="hidden" name="password" th:value="${user.password}" />
            <input
                type="hidden"
                name="member"
                th:value="${user.getMember()}"
              />
            <button
              id="add_member_btn"
              class="btn btn-primary"
              type="button"
              style="margin-top: 10px"
              data-target="#form_content"
              data-toggle="modal"
            >
              Add Member
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Add Member Form -->
    <div id="form_content" class="container mt-5">
      <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <h3 class="card-header text-center">Member Information Form</h3>
          <form id="add_member_form" th:object=${member}>
            <div class="form-floating mt-3 mb-3">
              
              <input
                type="hidden"
                name="phoneNumber"
                th:value="${user.phoneNumber}"
              />
              <input type="hidden" name="password" th:value="${user.password}" />
              <input
                type="hidden"
                name="member"
                th:value="${user.member}"
              />
              <input
                type="number"
                class="form-control"
                id="adhaar"
                placeholder="Adhaar Number"
                name="adhaar"
              /><label for="floatingInput">Enter your adhaar number</label>
            </div>
            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="text"
                id="name"
                placeholder="Full Name"
                name="name"
              /><label for="floatingName">Enter your full name</label>
            </div>
            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="text"
                name="dob"
                id="dob"
                placeholder="01/01/2020"
              /><label for="floatingDOB">Enter your birthday</label>
            </div>
            <label class="mb-3">Gender:</label>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="gender"
                value="Male"
              />Male
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="gender"
                value="Female"
              />Female<br />
            </div>
            <div class="container text-center">
              <button
                id="add_member_submit"
                class="btn btn-success"
                type="button"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>    
    </div>
  </body>

  <div th:replace="common :: footer"></div>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <script th:inline="javascript">
      $(document).ready(function () {
      
        // if(user.getMember().size() > 0) {
        //   $("#form_card").show();
        //   $("#form_content").hide();
        // } else {
        //   $("#form_card").hide();
        //   $("#form_content").hide();
        // }

        // $("#form_card").hide();
        $("#form_content").hide();

        $("#add_member_btn").on("click",function() {
          $("#form_content").show();
        });
        
        //SUBMIT FORM
        $("#add_member_submit").click(function(event) {
          console.log("Button Clicked");
          event.preventDefault();
          ajaxPost();
          // location.reload();
        });

        function ajaxPost() {
          console.log("Ajax Post");

          //Prepare Form Data
          var phoneNumber = $("#phoneNumber").val();
          var member = {
            adhaar:$("#adhaar").val(),
            name:$("#name").val(),
            gender:$("input[name=gender]:checked").val(),
            dob:$("#dob").val(),
          }

          var formData = {phoneNumber: phoneNumber, member: member};
           
          //POST
          $.ajax({
            type: "POST",
            contentType:"application/json",
            url:"addmember",
            data:JSON.stringify(formData),
            dataType:'json',
            success:function(result) {
              console.log(formData);
              console.log(result);
              if(result.status == "success") {
                console.log("True");
                $("#form_card").show();
                $("#form_content").hide();
                location.reload();

                // $("#display_card").replaceWith("<div class='card mb-5 bg-body rounded'><div class='card-body'><div><h2 style='color: blue' th:value='${member.name}' id='member_name'></h2>&emsp;<span>Not Vaccinated</span></div><br/><div class='container'><div class='row'><div class='column'><h5 style='color:grey'>Date of Birth: <span text='formData.dob' id='member_dob'></span></h5></div><div class='column'><h5 style='color:grey'>Adhaar Number: <span text='formData.adhaar' id='member_adhaar'></span></h5></div><div class='column'><h5 style='color:grey'>Gender: <span text='formData.gender' id='member_gender'></span></h5></div><br/><hr/></div></div></div></div>");
              } else {
                console.log("False");
                $("#form_card").show();
              }
            },
            error:function(e) {
              alert("Error!");
              console.log("Error: ", e);
            }
          });
          // location.reload();
        }

      });
    </script>

</html>