<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>    
    <div th:replace="common :: header"></div>
    <title>Register</title>
  </head>

  <body>
    <div class="container mt-5 text-center">
      <div class="card text-center shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <h3 class="card-header">Register/Login to Cowin Lite</h3>
          <div>
            <form
              action="#"
              th:action="@{/home}"
              th:object="${user}"
              method="post"
              class="needs-validation novalidate"
            >
              <div class="form-floating mt-2">
                <input
                  maxlength="1"
                  minlength="1"
                  required
                  type="tel"
                  th:field="*{phoneNumber}"
                  class="form-control"
                  id="floatingPhone"
                  placeholder="phoneNumber"
                  name="phone"
                />
                <label for="floatingPhone">Enter your phone number</label>
                <!-- <div id="error_phone" class="invalid-feedback">Please enter the correct Phone Number</div> -->
              </div>
              <div class="form-floating mt-2">
                <input
                  required
                  type="password"
                  th:field="*{password}"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Password"
                />
                <label for="floatingPassword">Enter your password</label>
                <!-- <div id="error_password" class="invalid-feedback">Please enter Password</div> -->
                  <button id="register_btn" class="btn btn-primary mt-3" type="submit">
                    Register/Login
                  </button>
              </div>
              <div type="hidden" class="form-floating mt-2">
                <input
                  type="hidden"
                  th:field="*{member}"
                  class="form-control"
                  id="floatingMember"
                  placeholder="Member"
                  value=""
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="common :: footer"></div>
    
  </body>

  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>

  <script>
    var forms = document.querySelectorAll(".needs-validation");

    Array.prototype.slice.call(forms).forEach(function(form){
      form.addEventListener("submit", function(event){
        if(!form.checkValidity()){
          event.preventDefault();
          event.stopPropagating();
        }
        form.classList.add("was-validated");
      }, false);
    }); 
    
  </script>

</html>