<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <style>
      .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>

    <div th:replace="common :: header"></div>
    <title>Staff Dashboard</title>

    <nav class="navbar navbar-dark fixed-top" style="background: #1e3770">
      <div class="container-fluid">
        <a
          class="navbar navbar-brand"
          style="font-size: 28px; margin-left: 128px"
          href="#"
        >
          Cowin Lite
        </a>
      </div>
    </nav>
    <nav class="navbar navbar-dark fixed-bottom" style="background: #1e3770">
      <div class="container-fluid">
        <span class="navbar-brand mx-auto"
          >Optimize IT Systems © 2021 COWIN Lite</span
        >
      </div>
    </nav>
  </head>

  <body style="margin-top: 100px">
    <input type="hidden" name="name" id="name" th:value="${user.name}" />
    <input
      type="hidden"
      name="phoneNumber"
      id="phoneNumber"
      th:value="${user.phoneNumber}"
    />
    <input type="hidden" name="password" th:value="${user.password}" />
    <input type="hidden" name="member" th:value="${user.getMember()}" />

    <div>
      <h2 style="margin-left: 128px">Staff Dashboard</h2>
      <div class="container text-center centered" style="width: 34rem">
        <a
          style="font-size: 24px"
          th:href="@{/staffPublicTable/{id}(id=${user._id})}"
          >Manage Public Users</a
        ><br />
        <a style="font-size: 24px">Staff Role 1</a><br />
        <a style="font-size: 24px">Staff Role 2</a>
      </div>
    </div>

    <div th:replace="common :: footer"></div>
  </body>
</html>
